.home {
  text-align: center;
  background-color: rgba(247, 105, 231, 0.728); /* Used if the image is unavailable */

}
.spin-win{
  padding-top:50px;
  text-align: center;
  color: #ff0000;
  font-weight: 700;
  font-size: 35px;
  font-family: Roboto;
}
.network-name {
  position: relative;
  left: 50%;
}
.get-token {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
}
.mint-token {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
}
.user {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 12px;
}
.box {
  background-color: red;
  padding: 5px;
  border-radius: 2px;
  border: none;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  color:white;
}

.spinner-center {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo {
  background-image: url("../../Assets/logo.png");
  background-color: #e97fd000;  /* Used if the image is unavailable */
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:contain;
}
